/*-- scss:rules --*/
.table-highlight-even > table > tbody > tr:nth-child(2n) {
  font-weight: bold;    
}

.table-highlight-even > table > tbody > tr:nth-child(2n - 1) {
  opacity: 0.5
}

.table-no-border {
  > table th, 
  > table td {
    border-bottom: none;
    padding-block: var(--row-padding);
  }
}

.reveal .progress {
  color: var(--title-slide-background-color);
}