/*-- scss:rules --*/
.table-highlight-even>table>tbody>tr:nth-child(2n) {
  font-weight: bold;
}

.table-highlight-even>table>tbody>tr:nth-child(2n - 1) {
  opacity: 0.5
}

.table-no-border {

  >table th,
  >table td {
    border-bottom: none;
    padding-block: var(--row-padding);
  }
}

:root {
  --title-slide-background-color: #419599;
}

.reveal .progress {
  color: var(--title-slide-background-color);
}

.reveal .slide-your-turn {
  background-color: #17212b;
  --slide-color: #F2F5F8;
  --quarto-hl-fu-color: #E7B10A;
  --r-link-color: #ff5fa1;
  --r-link-color-hover: #E56399;

  strong {
    color: var(--quarto-hl-fu-color);
  }

  code {
    color: var(--quarto-hl-fu-color);
  }
}

:root {
  --countdown-font-size: var(--step-3);
  --sl-fullscreen-scale: 1.5;
}

.reveal pre.sourceCode code {
  max-height: 800px;
}

.reveal pre code {
  max-height: none;
  white-space: pre;
}

.highlight-line {
  --_highlight-line-color: var(--highlight-line-color, oklab(0.95 -0.04 0.16 / 0.7));
  background: var(--_highlight-line-color);
  display: inline-block;
  width: 100vw;
  outline: 0.125lh solid var(--_highlight-line-color);
  font-weight: 500;
}

.reveal .sourceCode:has(> .shinylive-wrapper) {
  border: none;
  background-color: inherit;
  color: inherit;
}

div.shinylive-wrapper {
  box-shadow: none;
  border: none;
}
